*{
    margin: 0%;
}

.navbarDiv{
    background-color: black;
}

.navLink{
    font-size: 200%;
    padding: 1%;
    color: white;
    text-decoration: none;
}

.parentDiv{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    
}

.centerDiv{
    flex-basis: 33%;
    background-color: rgb(85, 85, 85);
    margin: 0.5%;
    border-radius: 3%;    
}

.sideDiv{
    /* display: flex; */
    background-color: rgb(136, 136, 136);
    flex-basis: 33%;
    margin: 0.5%;
    border-radius: 3%;
}

.teacherPicAndName{
    display: flex;
    padding: 10px;
}
/* PROFESSOR SIDE */
.profPic{
    /* flex-basis: 15%; */
}.profPic img{width: 10%;}

.profName{
    /* flex-basis: 85%; */
    text-align: center;
    margin: auto;
    /* background-color: aquamarine; */

}

.videotest{
    /* padding: 10px; */
    border-radius: 10px;
    
    width: 100%;
}

.videoParagraph{
    text-align: center;
    padding: 15px;
}

.miniParentDiv{
    display: flex;
}

.miniDivSideVideo{
    flex-basis: 15%;
    /* background-color: rgb(70, 55, 55); */
}

.miniDivCenterVideo{
    
    /* background-color: black; */
}

@media (max-width: 1000px){
    .parentDiv{
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        
    }
    .miniDivSideVideo{
        flex-basis: 15%;
        background-color: rgb(70, 55, 55);
    }
    .miniDivCenterVideo{

    }
    .videotest{
        /* padding: 10px; */
        border-radius: 10px;
        
        width: 100%;
    }
    
}

