*{
    margin: 0%;
}

.navbarDiv{
    background-color: black;
}

.navLink{
    color: white;
    text-decoration: none;
}

.parentDiv{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    
}

.centerDiv{
    flex-basis: 33%;
}

.sideDiv{
    /* display: flex; */
    background-color: rgb(136, 136, 136);
    flex-basis: 33%;
}

.videotest{
    /* padding: 10px; */
    border-radius: 10px;
    
    width: 100%;
}
/* PROFESSOR SIDE */
